<div class="container">
  <div class="row mt-4">
    <div class="d-flex justify-content-center">
      <img src="assets/img/NotFound.png" style="height: 445px;">
    </div>
    <div class="text-center mb-4 mt-4">
      <h2><b>OPS! NÃO ENCONTRAMOS ESSA PÁGINA</b></h2>
      <h4><b>Acho que você escolheu a porta errada, porque eu não consegui dar uma olhada <br>na que você está procurando.</b></h4>     
      <div class="">
        <a class="button blue large cta-button ada-el-focus" routerLink="/usuario/login"><b>VOLTAR AO INÍCIO</b></a>
      </div>
    </div>
  </div>
</div>