.ng-star-inserted {
    color: #323232;
  }

  .iconesSociais {    
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 25px;  
    padding: 0px; 
  }

  i {
    color: #007bff;
  }